/*======================*/
/* boutons pied de page */
/*======================*/
/* avec animation type wiggle sur hover*/
.footer__btn {
    margin: 42px;
    font-size: 2.5rem;
    font-weight: 500;
    &:hover{ 
        animation: wiggle 100ms 2;                              // tempo + répétition
        animation-timing-function: linear;   
      }
}
@keyframes wiggle {                                             // déroulement de l'effet : décalage de 4px 
    0% { transform: translate(4px, 0); }                        // ->droite->centre
    50% { transform: translate(-4px, 0); }                      // ->gauche->centre
    100% { transform: translate(4px, 0); }                      // ->droite->centre
}

/*===============*/
/* items de menu */
/*===============*/
/* effet zoom + fondu par réduction d'opacité */
.menu-items {
    & a {
        width: 100%;
        height: 100%;
        @include flex-col-cent;
        transform: scale(1);
        transition: transform 400ms;                            // durée effet zoom
        @include mobile-only {
            transform: scale(0.7);
        }
        &:hover {
            transform: scale(1.1);                              // augmentation de la taille
            @include mobile-only {
                transform: scale(0.7);                          // pas d'effet en mode mobile
            }
        }
    }
    & > div {
        @include menu-item-style;
        @include opacity-shift(opacity, 0.4s, ease-in-out);     // effet sur l'opacité, l'animation commence lentement, accèlere puis ralentit à nouveau avant la fin
        &:hover {
            opacity: 0.7;                                       // réduction d'opacité
            @include mobile-only {
                opacity: 1;                                     // pas d'effet en mode mobile
            }
        }
    }
    &__note {                                                   // couleur de fond de chaque item
        background-color: $color-bck-note;
        & h3 {
            font-family: $font-note-title;
            font-size: 3rem;
            color: black;
            margin-top: 0;
        }
        & h4 {
            font-family: $font-others-details;
            font-size: 4rem;
            font-weight: 700;
            color: black;
            margin: 0;
        }
    }
    &__chic {
        background-color: $color-bck-chic;
        & h3 {
            font-family: $font-chic-title;
            font-size: 2.1rem;
            background: -webkit-linear-gradient(160deg, $color-chic-starter, $color-chic-dessert);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0;
            @include mobile-only {
                font-size: 1.6rem;
            }
        }
        & h4 {
            font-family: $font-chic-details;
            font-size: 3.5rem;
            color: $color-chic-starter;
            margin: 0;
        }
    }
    &__delice {
        background-color: $color-bck-delice;
        & h3 {
            font-family: $font-delice-title;
            font-size: 3rem;
            background: linear-gradient(to right, $color-gradient-delice-1, $color-gradient-delice-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            @include mobile-only {
                font-size: 2.3rem;
            }
        }
        & h4 {
            font-family: $font-others-details;
            font-size: 4rem;
            font-weight: 700;
            color: $color-gradient-delice-2;
            margin: 0;
        }
    }
    &__palette {
        background-color: $color-bck-palette;
        & h3 {
            font-family: $font-palette-title;
            font-size: 3rem;
            background: linear-gradient(120deg, $color-gradient-palette-1, $color-gradient-palette-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0;
            @include mobile-only {
                font-size: 2.4rem;
            }
        }
        & h4 {
            font-family: $font-others-details;
            font-size: 4rem;
            font-weight: 700;
            color: $color-menu-palette;
            margin: 0;
        }
    }
}