.footer__btn {
    margin: 42px;
    font-size: 2.5rem;
    font-weight: 500;
    &:hover{ 
        animation: wiggle 100ms 2;
        animation-timing-function: linear;   
      }
}

@keyframes wiggle {
    0% { transform: translate(4px, 0); }
    50% { transform: translate(-4px, 0); }
    100% { transform: translate(4px, 0); }
}

.menu {
    &__note, &__chic, &__delice, &__palette {
        @include menu-item-style;
        @include opacity-shift(opacity, 0.4s, ease-in-out);
        &:hover {
            opacity: 0.7;
        }
    }
    &__note {
        background-color: $color-bck-note;
    }
    &__chic {
        background-color: $color-bck-chic;
    }
    &__delice {
        background-color: $color-bck-delice;
    }
    &__palette {
        background-color: $color-bck-palette;
    }
}