body {
    font-family: $font-main;
    color: $color-text;
    background-color: $color-white;
    margin: 0;
}

main, header, footer {
    margin: auto;
    max-width: 1500px;
}

a, :hover, :visited {
    text-decoration: none;
    color: $color-text;
}

