body {
    background-color: $color-white;
    margin: 0;
}

main, header, footer {
    margin: auto;
    max-width: 1500px;
}

a, a:hover, a:visited {
    @extend %link;
}

table {
    margin-bottom: 5rem;
    @include mobile-only {
        margin-bottom: 1rem;
    }
}

tr {
    height: 4rem;
}