h1 {
    font-family: $font-main;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: $font-main;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    @include mobile-only {
        font-size: 1.7rem;
    }
}

table {
    font-size: 2rem;
}