.h3palette {
    font-family: $font-palette-title;
    font-size: 6rem;
    background: linear-gradient(120deg, #3d923a, #beff7f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-palette {
    @include flexbox-col-cent;
    background-color: $color-bck-palette;
    font-family: $font-others-details;
    color: black;
    width: 75%;
    margin: 50px;
    box-shadow: 0px 0px 16px 4px darken($color-white, 10%);
    & h4 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
    }
    &__header, &__starter, &__maincourse, &__dessert {
        width: 100%;
        @include flexbox-col-cent;
    }
    &__starter-header, &__maincourse-header, &__dessert-header {
        @include flex-menu-headers;
        width: 93%;
        & p {
            margin: 0;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__contain {
        width: 80%;
        & .price {
            font-weight: normal;
        }
    }
}