/*=============================================*/
/* paramètres du menu "le chic à la française" */
/*=============================================*/
.menu-chic {
    @include flex-col-cent;
    background-color: $color-bck-chic;
    font-family: $font-chic-details;
    @include menu-details-style;
    & h3 {
        font-family: $font-chic-title;
        font-size: 3.5rem;
        background: -webkit-linear-gradient(160deg, #e38913, #8f5bfe);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 10rem;
        margin-bottom: 5rem;
        @include mobile-only {
            font-size: 1.5rem;
            text-align: center;
            margin-top: 5rem;
        }
    }
    & h4 {
    font-size: 1.6rem;
    text-align: center;
        @include mobile-only {
            font-size: 1rem;
        }
    }
    &__header, &__starter, &__maincourse, &__dessert {
        width: 100%;
        @include flex-col-cent;
    }
    &__starter {
        color: $color-chic-starter;
    }
    &__maincourse {
        color: $color-chic-maincourse;
    }
    &__dessert {
        color: $color-chic-dessert;
    }
    &__starter-header {
        @include flex-menu-headers;
        width: 90%;
        & p {
            margin: 0;
        }
        & .underline {
            background: linear-gradient($color-chic-starter, $color-chic-starter);
            background-size: 0% 4px;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: background-size .5s;
            &:hover{
                background-size: 100% 4px;
            }
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__maincourse-header {
        @include flex-menu-headers;
        width: 90%;
        & p {
            margin: 0;
        }
        & .underline {
            background: linear-gradient($color-chic-maincourse, $color-chic-maincourse);
            background-size: 0% 4px;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: background-size .5s;
            &:hover{
                background-size: 100% 4px;
            }
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__dessert-header {
        @include flex-menu-headers;
        width: 90%;
        & p {
            margin: 0;
        }
        & .underline {
            background: linear-gradient($color-chic-dessert, $color-chic-dessert);
            background-size: 0% 4px;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: background-size .5s;
            &:hover{
                background-size: 100% 4px;
            }
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__contain {
        width: 80%;
    }
    & .txt {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        width: 88%;
        padding-right: 2%;
        vertical-align: bottom;
        @include mobile-only {
            font-size: 1rem;
            padding-bottom: 2rem;
        }
    }
    & .price {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        width: 10%;
        text-align: right;
        vertical-align: bottom;
        @include mobile-only {
            font-size: 1rem;
            padding-bottom: 2rem;
        }
    }
}
