/*========================================*/
/* paramètres du menu "la note enchantée" */
/*========================================*/
.menu-note {
    @include flex-col-cent;
    background-color: $color-bck-note;
    font-family: $font-others-details;
    color: black;
    @include menu-details-style;
    & h4 {
        font-size: 2.5rem;
        text-align: center;
        @include mobile-only {
            font-size: 1.9rem;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
    &__header, &__starter, &__maincourse, &__dessert, &__footer {
        width: 100%;
        @include flex-col-cent;
    }
    &__starter-header, &__maincourse-header, &__dessert-header {
        @include flex-menu-headers;
        width: 80%;
        & p {
            margin: 0;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__header h3 {
            font-size: 3rem;
            font-family: $font-note-title;
            margin-top: 0;
            @include mobile-only {
                font-size: 2rem;
            }
    }
    &__contain {
        width: 80%;
    }
    &__footer {
        display: flex;
        flex-direction: row;
        & .h3note {
            font-size: 2.4rem;
            font-family: $font-note-title;
            @include mobile-only {
                font-size: 1.8rem;
            }
        }
        & img {
            transform: scale(0.7);
            margin-top: 9px;
        }
    }
    & .txt {
        width: 88%;
        padding-right: 2%;
        padding-bottom: 1rem;
        vertical-align: bottom;
        @include mobile-only {
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    & .price {
        width: 10%;
        padding-bottom: 1rem;
        text-align: right;
        font-weight: bold;
        vertical-align: bottom;
        @include mobile-only {
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}