@mixin shadow {
    box-shadow: 0px 0px 16px 4px darken($color-white, 10%);
}

@mixin flex-col-cent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-menu-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin menu-item-style {
    width: 535px;
    height: 757px;
    margin: 50px;
    opacity: 1;
    @include flex-col-cent;
    @include shadow;
    @include mobile-only {
        min-width: 320px;
        height: 500px;
        margin: 40px 20px 40px 20px;
    }
}

@mixin menu-details-style {
    width: 75%;
    margin: 50px;
    @include shadow;
    @include mobile-only {
        min-width: 320px;
    }
}

@mixin opacity-shift($property, $time, $method) {
    -webkit-transition: $property $time $method;
    -moz-transition: $property $time $method;
    -ms-transition: $property $time $method;
    -o-transition: $property $time $method;
    transition: $property $time $method;
}

@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}