#menus {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#space-box {
    height: 136px;
}

#soon {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

