.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-main;
    height: 136px;
    border-top: 2px solid $color-main-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}